<h3> Book Parking Slots </h3>
<form #bookingsForm="ngForm" (ngSubmit)="BookParkings(bookingsForm.value, bookingsForm)" (formchange)="validateSlots(bookingsForm.value)">

  <md-input-container placeholder="Select Booking Date" type="date">
    <input mdInput placeholder="Select Booking Date" id="date" type="date" name="date" #date="ngModel" [(ngModel)]="pickDate" (input)="isPastDate(date.value)">
  </md-input-container>

    <br><br>

<md-select placeholder="Select Start Time" name="start" #start="ngModel" [(ngModel)]="startTime">
   <md-option *ngFor="let sTime of startTimeArr" [value]="sTime">{{ sTime }}</md-option>
</md-select>

<md-select placeholder="Select Duration" name="duration" #duration="ngModel" [(ngModel)]="timeDuration">
   <md-option *ngFor="let timeDue of bookingDuration" [value]="timeDue">{{ timeDue }}</md-option>
</md-select>

  <br><br>

  <button type="button" md-raised-button color="primary" (click)="validateSlots(bookingsForm.value)">
    View Slots
  </button>
    <button type="button" md-raised-button color="warn" (click)="resetForm(bookingsForm)">
    Reset Form
  </button>

  <br><br>
  <div *ngIf="show">

    <md-button-toggle-group #group="mdButtonToggleGroup" type="submit">
      <md-button-toggle value="slot" 
        *ngFor="let s of slots; let i = index"
        (click)="slotBooked(s); s.isBooked = true; s.color = 'accent'">
            <button md-raised-button [color]="s.color"> Slot{{s.id}} </button>
      </md-button-toggle>
    </md-button-toggle-group>

  </div>
</form>