<h3> {{title}} </h3>
<div *ngIf="key !== 'admin'">
    <form #feedbackForm="ngForm" (ngSubmit)="SendFeedback(feedbackForm.value)">
      <md-input-container dividerColor='primary'>
        <input mdInput class="feedback"
            name="msg"
            [(ngModel)]="message"
            #msg="ngModel"
            placeholder='Your Feedback'>
      </md-input-container>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
    </form>
    <br>
</div>
<div *ngIf="key === 'admin' && clicked" >
  <form #replyForm="ngForm" (ngSubmit)="SendReply(replyForm.value)">
        <md-input-container dividerColor='primary'>
        <input mdInput class="feedback"
            name="reply"
            [(ngModel)]="response"
            #reply="ngModel"
            placeholder='Reply'>
        </md-input-container>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
    </form>
    <br>
</div>
  <div class="inlineDisplay" *ngFor="let f of feedbacks; let i = index">
    <md-card class="cards" *ngIf="key === f.uname || key === 'admin'">
      <md-card-title class="center title"> {{f.uname}} </md-card-title>
      <md-card-content class="flexBox">
        <span class="flex">
          <h4 class="details"> Feedback : </h4>
          <p class="details"> {{f.msg}} </p>
        </span>
        <span class="flex">
          <h4 class="details"> Response : </h4>
          <p class="details"> {{f.reply}} </p>
        </span>
      </md-card-content>
      <md-card-actions class="center">
          <button md-mini-fab color="primary" (click)="clicked = true; ShowKey(this.f.key)" *ngIf="key === 'admin'">
              <i class="material-icons"> reply </i>
          </button>
      </md-card-actions>
    </md-card>
  </div>


