<div>
  <h3> {{title}} </h3>
  <table>
    <thead>
      <tr>
        <th> S.No. </th>
        <th *ngIf="key === 'admin'"> User Name </th>
        <th> Feedback </th>
        <th> Response </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of feedbacks; let i = index">
        <td> {{i}} </td>
        <td *ngIf="key === 'admin'"> {{f.uname}} </td>
        <td> {{f.msg}} </td>
        <td> {{f.reply}} </td>
        <td> 
          <button md-mini-fab color="primary" (click)="clicked = true; ShowKey(this.f.key)" *ngIf="key === 'admin'">
              <i class="material-icons"> reply </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>
<div *ngIf="key === 'admin' && clicked" >
  <form #replyForm="ngForm" (ngSubmit)="SendReply(replyForm.value)">
        <md-input
            name="reply"
            [(ngModel)]="response"
            #reply="ngModel"
            placeholder='Your Reply'
            dividerColor='primary'>
        </md-input>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
    </form>
</div>
<div *ngIf="key !== 'admin'">
    <form #feedbackForm="ngForm" (ngSubmit)="SendFeedback(feedbackForm.value)">
        <md-input
            name="msg"
            [(ngModel)]="message"
            #msg="ngModel"
            placeholder='Your Feedback'
            dividerColor='primary'>
        </md-input>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
    </form>
</div>