<md-card>
    <md-card-title>
        <h2>Sign In</h2>
    </md-card-title>
    <md-card-content>
        <form novalidate #SignInForm="ngForm" (ngSubmit)="onSignIn(SignInForm.value)">
            <md-input required
                placeholder="Email" 
                align="start" 
                name="eml"
                type="email"
                #eml="ngModel"
                [(ngModel)]="emailIn"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [dividerColor]="(!eml.valid || eml.pristine) ? 'warn':'primary'">
            </md-input>
            <small [hidden]="eml.valid || (eml.pristine && !SignInForm._submitted)" class="alert alert-danger">
                Invalid Email! 
            </small>
			<small [hidden]="!eml.errors?.required || (eml.pristine && !SignInForm._submitted)" class="alert alert-danger">
                Email is required!
            </small>
            <br>
            <md-input required
                [dividerColor]="(!pass.valid || pass.pristine) ? 'warn':'primary'" 
                placeholder="Password" 
                align="start" 
                name="pass"
                type="password" 
                #pass="ngModel"
                [(ngModel)]="passwordIn"
                minlength="6">
            </md-input>
            <small [hidden]="pass.valid || (pass.pristine && !SignInForm._submitted)" class="alert alert-danger">
                Password must be 6 characters long!
            </small>
            <small [hidden]="!pass.errors?.required || (pass.pristine && !SignInForm._submitted)" class="alert alert-danger">
                Password is required!
            </small>
            <br><br>
            <md-radio-group #userType required> Account Type: 
                <md-radio-button value="Company"> Company </md-radio-button>
                <md-radio-button value="Student"> Student </md-radio-button>
            </md-radio-group>
            <br><br><br>
            <button md-raised-button color="primary" type="submit" [disabled]="!eml.valid || !pass.valid" > 
                Sign In
            </button>
            <br><br>
        </form>
    </md-card-content>
  </md-card>
