<div>
  <h3> Feedbacks </h3>
  <table>
    <thead>
      <tr>
        <th> S.No. </th>
        <th> User Name </th>
        <th> Feedback </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of feedbacks; let i = index">
        <td> {{i}} </td>
        <td> {{f.uname}} </td>
        <td> {{f.msg}} </td>
        <td> 
          <button md-mini-fab color="primary" (click)="clicked = true">
              <i class="material-icons"> reply </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>
<div *ngIf="clicked">
    <md-input dividerColor='primary' placeholder='Your Reply' #rpl></md-input>
    <button type='submit' md-mini-fab color='primary' (click)="reply(rpl.value, this.)">
      <i class="material-icons">send</i>
    </button>
</div>