  <md-card>
    <md-card-title> 
        Feedback
    </md-card-title>
    <md-card-content>
      <form #notificationForm (ngSubmit)="AddNotice(notice.value)">
        <textarea class='textarea' placeholder='Send Feedback' #notice dividerColor='primary' rows="7" cols="35"></textarea>
        <!--<md-input dividerColor='primary' placeholder='Add Notice' #notice></md-input>-->
        <br>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
      </form>
    </md-card-content>
  </md-card>