  <md-card>
    <md-card-title> 
        <h3> Feedback </h3>
    </md-card-title>
    <md-card-content>
      <form #feedbackForm (ngSubmit)="SendFeedback(feedbackForm.value)">
        <md-input dividerColor='primary' placeholder='Your Name'></md-input>
        <br>
        <textarea class='textarea' placeholder='Your Feedback' rows="7" cols="35"></textarea>
        <br>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
      </form>
    </md-card-content>
  </md-card>